<header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: midnightblue"> <a class="navbar-brand"
            href="#"> <img src="../../../../assets/logo.png" width="30" height="30" alt="" />
        </a>
        <h2><a class="navbar-brand" href="#">LTS</a></h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>