.full-width-table {
  width: 100%;
}

.mat-form-field {
  font-size: 15px;
  width: 100%;
}

main {
  min-height: 72%;

  h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .mat-header-cell {
    font-size: small;
    color: white;
    background-color: gray;
    text-align: center;
  }

  .mat-cell {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
  }

  .mat-paginator {
    font-size: small;
  }
}
