<footer class="pt-md-5 border-top" style="background-color: midnightblue">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md">
                <img class="mb-2" src="../../../../assets/logo.png" class="img" alt="" width="20" height="20"> &nbsp;<strong
                    class="text-light">LTS</strong> <small class="d-block mb-3 text-muted">&copy;
                    2021-2022</small>
            </div>
            <div class="col-12 col-sm">
                <h5 class="text-light">Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Promotions</a></li>
                    <li><a class="text-muted" href="#">Offers</a></li>
                    <li><a class="text-muted" href="#">Information</a></li>
                    <li><a class="text-muted" href="#">Wiki</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm">
                <h5 class="text-light">Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Help</a></li>
                    <li><a class="text-muted" href="#">Blog</a></li>
                    <li><a class="text-muted" href="#">Careers</a></li>
                    <li><a class="text-muted" href="#">Press</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm">
                <h5 class="text-light">About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>
